Order #{{ db_order.binance_order_id }} qty changes:
executedQty: '{{ format(old_executed_quantity, 'f') }}' -> '<b>{{ format(db_order.executed_quantity, 'f') }}</b>',
cummulativeQuoteQty '{{ format(old_cummulative_quote_quantity, 'f') }}' -> '<b>{{ format(db_order.cummulative_quote_quantity, 'f') }}</b>'