Order #{{ db_order.binance_order_id }} qty changes:
executedQty: '{{ "{0:f}".format(old_executed_quantity) }}' -> '<b>{{ "{0:f}".format(db_order.executed_quantity) }}</b>',
cummulativeQuoteQty '{{ "{0:f}".format(old_cummulative_quote_quantity) }}' -> '<b>{{ "{0:f}".format(db_order.cummulative_quote_quantity) }}</b>'