<code>{{ db_order.binance_order_id }}</code>
<b>{{ format_timestamp(db_order.binance_updated_at / 1000, '%Y-%m-%d %H:%M:%S') }}</b>
<b>Type: {{ remap_db_order_type(db_order.binance_order_type) }}</b>
Side: {{ remap_db_order_side(db_order.side) }}
Symbol: {{ remap_db_order_symbol(db_order.symbol) }}
Price: {{ dec_to_str(decimal(db_order.order_price)) }}
Original quantity: {{ format(db_order.original_quantity, 'f') }}
Executed quantity: {{ to_eng_string(db_order.executed_quantity, 'f') }}
Cummulative quote quantity: {{ to_eng_string(db_order.cummulative_quote_quantity, 'f') }}
Status: {{ remap_db_order_status(db_order.status) }}