Order #{{ binance_order['orderId'] }} executedQty changed from '{{ db_order.executed_quantity|float }}' to: '<b>{{ binance_order['executedQty']|float }}</b>', cummulativeQuoteQty changed from '{{ db_order.cummulative_quote_quantity|float }}' to: '<b>{{ binance_order['cummulativeQuoteQty']|float }}</b>'