<code>{{ db_order.binance_order_id }}</code>
<b>{{ format_timestamp(db_order.binance_updated_at / 1000, '%Y-%m-%d %H:%M:%S') }}</b>
<b>Type: {{ remap_db_order_type(db_order.binance_order_type) }}</b>
Side: {{ remap_db_order_side(db_order.side) }}
Symbol: {{ remap_db_order_symbol(db_order.symbol) }}
Price: {{ dec_to_str(decimal(db_order.order_price)) }}
Original quantity: {{ "{0:f}".format(db_order.original_quantity) }}
Executed quantity: {{ "{0:f}".format(db_order.executed_quantity) }}
Cummulative quote quantity: {{ "{0:f}".format(db_order.cummulative_quote_quantity) }}
Status: {{ remap_db_order_status(db_order.status) }}
{% if db_order.delta_up %}Delta up: {{ dec_to_str(decimal(db_order.delta_up)) }}%{% endif %}
{% if db_order.delta_down %}Delta down: {{ dec_to_str(decimal(db_order.delta_down)) }}%{% endif %}
